[Unit]
Description=kompakt Agent
Documentation=https://github.com/marko-stanojevic/kompakt
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kompakt-start
Restart=on-failure
RestartSec=10s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
